body {
  background: #fff;
  font-family: sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 0 5%;
  text-align: center;
  h1 {
    font-size: 40px;
  }
}
.first-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 800px;
  padding: 30px;
  gap: 20px;
  img {
    width: 50vw;
  }
  .lesley {
    width: 70vw;
  }

  h2 {
    font-size: 20px;
  }
  &-p {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    max-width: 600px;
  }
}
.hero-img1 {
  background-image: url("../../images/6.jpg");
  height: 500px;
  background-attachment: fixed;
}
.hero-img2 {
  background-image: url("../../images/10.jpg");
  height: 500px;
  background-attachment: fixed;
}

.gallery {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 30px;
  .gallery-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 14px;
      font-weight: bold;
      color: gray;
    }
  }

  .row {
    width: 100%;
    max-width: 800px;
    .img {
      img {
        width: 100%;

        height: 100%;

        object-fit: cover;
      }
    }
  }
}

@media (min-width: 800px) {
  .hero1 {
    height: 800px;
    h1 {
      font-size: 80px;
    }
  }
  .first-content {
    justify-content: space-center;
    padding: 0 30px;
    gap: 40px;
    img {
      width: 250px;
    }
    .lesley {
      width: 600px;
    }
  }
  .gallery {
    .row {
      width: 100%;
      max-width: 800px;
      .img {
        img {
          width: 100%;
          max-width: 500px;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
